// ## fonts 
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=hr
	font-family: 'HelveticaNeueCyrRoman'
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=hb
	font-family: 'HelveticaNeueCyrBold'

// vars
$hover: #ab004e

body
	min-width: 1280px
	+hr 
	font-size: 14px 
	line-height: 1.4
	color: #333
		 

// common blocks      
.link
	position: relative
	display: inline-block
	padding: 2px 0
	font-size: 12px
	text-transform: uppercase
	color: #333
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background: #efcedd
		+tr(height 200ms)
		z-index: -1
	&:hover
		&:before
			height: 50%
.title
	margin-bottom: 50px
	font-size: 12px
	text-transform: uppercase
	letter-spacing: 2px
	
.arrow
	float: right
	display: inline-block
	vertical-align: middle
	width: 60px
	font-size: 0
	height: 12px
	overflow: hidden
	+tr(width 300ms)
	span
		font-size: 12px
	&.arrow_right
		float: none
		span
			float: right
	&.arrow_small
		width: 30px
		span
			font-size: 8px		
.back
	display: inline-block
	+clr
	color: #333
	margin-left: 80px
	&:hover
		.arrow
			width: 80px
	.arrow
		position: absolute
		top: 4px
		right: 125% 
.circle, .square
	display: inline-block
	vertical-align: middle
	width: 21px
	height: 21px
	background: #fff
	border: 4px solid #333
	&.circle_small, &.square_small
		width: 15px
		height: 15px
		border-width: 3px			 							
.circle
	border-radius: 50%
.divide
	width: 1px
	height: 120px
	margin: 40px 0 
	background: #eaeaea 
.pagination
	display: inline-block
	.pagination__prev, .pagination__next
		position: relative
		display: inline-block
		text-transform: uppercase
		font-size: 10px
		letter-spacing: 1px 
		color: #333
		+tr(color 300ms)
		&:hover
			color: $hover
			.arrow
				width: 50px
	.pagination__prev
		margin-left: 45px
		.arrow
			position: absolute
			top: 3px
			right: 125%
	.pagination__next
		margin-right: 45px 
		.arrow
			position: absolute
			top: 3px
			left: 125%		
	.pagination__pager
		display: inline-block
		vertical-align: middle		
		margin: 0 43px
		color: #aaa
		font-size: 12px 








































































































