// ## fonts 
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=hr
	font-family: 'HelveticaNeueCyrRoman'
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=hb
	font-family: 'HelveticaNeueCyrBold'

// vars
$hover: #ab004e

body
	min-width: 1280px
	+hr 
	font-size: 14px 
	line-height: 1.4
	color: #333
		 

// common blocks      
.link
	position: relative
	display: inline-block
	padding: 2px 0
	font-size: 12px
	text-transform: uppercase
	color: #333
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background: #efcedd
		+tr(height 200ms)
		z-index: -1
	&:hover
		&:before
			height: 50%
.title
	font-size: 12px
	text-transform: uppercase
	letter-spacing: 2px
	
.arrow
	float: right
	display: inline-block
	vertical-align: middle
	width: 60px
	font-size: 0
	height: 12px
	overflow: hidden
	+tr(all 300ms)
	span
		font-size: 12px
	&.arrow_right
		float: none
		span
			float: right				










































































































