// ## fonts 
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=hr
	font-family: 'HelveticaNeueCyrRoman'
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=hb
	font-family: 'HelveticaNeueCyrBold'

body
	min-width: 1366px
	+hr 
	font-size: 14px 
	line-height: 1.4


// common blocks      
.link
	position: relative
	display: inline-block
	padding: 2px 0
	font-size: 12px
	text-transform: uppercase
	color: #333
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background: #efcedd
		+tr(height 200ms)
		z-index: -1
	&:hover
		&:before
			height: 50% 

.arrow
	display: inline-block
	vertical-align: middle
	width: 60px
	height: 9px
	background: url(../img/svg/arrow.svg) 0 0 no-repeat  










































































































