// Normally mainpage styles
.out
	position: relative
	padding-top: 160px
	&.out_index
		padding-top: 110px 
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	min-width: 1280px
	padding: 56px 35px 0 
	z-index: 99
	.header__tools
		position: relative
.phone
	position: absolute
	top: -30px
	right: 0
	a
		font-size: 12px
		color: #333
		letter-spacing: 1px	
// menu
.menu
	.menu__list
		+clr
		li
			float: left
			margin-left: 50px
			&:first-child
				margin-left: 0
.lang
	float: right
	margin-right: 25px
.user
	float: right
	.user__logged
		display: inline-block
		color: #aaa
		font-size: 12px
		span
			color: #333
			text-transform: uppercase
	.user__logout
		display: inline-block
		margin-left: 25px
		
.logo
	position: fixed
	left: 56px
	top: 275px	
	z-index: 99								
	a
		position: relative
		display: inline-block
		padding: 38px 0 0 103px 
		color: #ab004e
		font-size: 10px
		text-transform: uppercase
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 97px
			height: 34px
			background: #ab004e url(../img/svg/logo.svg) 5px 5px no-repeat

.container
	position: relative
	z-index: 1
// schools
.schools
	margin-right: -56px
	.schools__list
		font-size: 0
		overflow: hidden
		margin-left: -150px 
	.schools__item
		position: relative
		float: left
		min-height: 284px
		margin-left: 80px
		margin-right: 40px
		padding: 110px 0 
		font-size: 14px	
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0	
		&.triangle
			width: 340px 
			padding-left: 150px
		&.ellipse
			width: 290px
			padding-left: 100px 	
	.schools__in
		position: relative
		display: block
		z-index: 2
		&:hover
			.schools__title
				color: #ab004e
			.arrow
				width: 80px	
	.schools__counter
		margin-bottom: 40px
		font-size: 10px
		color: #333
		letter-spacing: 1px
	.schools__title
		font-size: 30px
		+hb
		color: #333
		+tr(color 300ms)
		.icon-arrow-right
			margin-left: 15px
	.triangle1, .triangle2, .triangle3,
	.ellipse1, .ellipse2, .ellipse3,
	.rectangle1, .rectangle2, .rectangle3
		position: absolute
		top: 50%
		left: 50%
		z-index: 1
	.triangle1
		width: 220px
		height: 220px 
		margin: -76px 0 0 -70px 
		background: url(../img/svg/polygon-1.svg) 50% 50% no-repeat 
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50%
		+animation(rotation 10s linear infinite)				 				
	.triangle2
		width: 240px
		height: 240px 
		margin: -86px 0 0 -80px 
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50%
		background: url(../img/svg/polygon-2.svg) 50% 50% no-repeat
		+animation(rotation 10.3s linear infinite)	
	.triangle3
		width: 260px
		height: 260px 
		margin: -96px 0 0 -90px
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50% 
		background: url(../img/svg/polygon-3.svg) 50% 50% no-repeat
		+animation(rotation 10.6s linear infinite)
	.ellipse1
		width: 240px
		height: 240px
		margin: -90px 0 0 -100px
		-webkit-transform-origin: 45% 50%
		transform-origin: 45% 50% 
		background: url(../img/svg/ellipse-1.svg) 50% 50% no-repeat
		+animation(rotation 4s linear infinite)
	.ellipse2
		width: 260px
		height: 260px
		margin: -100px 0 0 -110px
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50% 
		background: url(../img/svg/ellipse-2.svg) 50% 50% no-repeat
		+animation(rotation 4.3s linear infinite)
	.ellipse3
		width: 280px
		height: 280px
		margin: -110px 0 0 -120px
		-webkit-transform-origin: 55% 50%
		transform-origin: 55% 50% 
		background: url(../img/svg/ellipse-3.svg) 50% 50% no-repeat
		+animation(rotation 4.6s linear infinite)
	.rectangle1
		width: 240px
		height: 240px
		margin: -90px 0 0 -100px 		 	  		
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50% 
		background: url(../img/svg/rectangle-1.svg) 50% 50% no-repeat
		+animation(rotationBack 10s linear infinite)
	.rectangle2
		width: 260px
		height: 260px
		margin: -100px 0 0 -110px 		 	  		
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50% 
		background: url(../img/svg/rectangle-2.svg) 50% 50% no-repeat
		+animation(rotationBack 10.3s linear infinite)
	.rectangle3
		width: 280px
		height: 280px
		margin: -110px 0 0 -120px 		 	  		
		-webkit-transform-origin: 50% 50%
		transform-origin: 50% 50% 
		background: url(../img/svg/rectangle-3.svg) 50% 50% no-repeat
		+animation(rotationBack 10.6s linear infinite)		
+keyframes(rotation)
	from
		+rotate(0)
	to
		+rotate(360)			
+keyframes(rotationBack)
	from
		+rotate(360)
	to
		+rotate(0)		

// events
.events
	margin-right: -56px
	margin-bottom: 50px
	.events__list
		overflow: hidden
		+clr		
.event
	float: left
	width: 325px
	color: #333
	&:hover
		.event__name
			color: $hover
		.arrow
			width: 80px
			.icon-arrow-right
				color: #eac0d3	
	.icon-arrow-right
		font-size: 12px
		color: #c1c1c1
		+tr(color 300ms)
	.event__date
		margin-bottom: 15px
		padding-right: 25%
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 2px
	.event__line
		position: relative
		height: 1px
		margin-bottom: 25px
		background: #ccc
		&:before
			content: ""
			position: absolute
			top: -3px
			left: 0
			width: 7px
			height: 7px
			border-radius: 50%
			background: #333   	 		
	.event__name
		margin-bottom: 15px
		padding-right: 25% 
		font-size: 14px
		+hb	
		+tr(color 300ms)		 